<%- include head %>

    

    <div class="container">
	    <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="presentation active" title="singleUpload"><a href="#">单个上传</a></li>
			<li role="presentation" class="presentation"><a href="#" title="arrayUpload">多个上传</a></li>
		</ul>
		<br>
		<form enctype="multipart/form-data" method="post" action="/uploadSingle" id="uploadSingle">
	        <input type="file" name="uploadInput" /> 
	        <input id='submitFileSingle' type="submit" />
	    </form>

		<br>
	    <form enctype="multipart/form-data" method="post" action="/uploadArray" id="uploadArray" style="display: none;">
	        <input type="file" name="uploadInput" />
	        <input type="file" name="uploadInput" />
	        <input type="file" name="uploadInput" />
	        <input id='submitFileArray' type="submit" />
	    </form>
	</div>
	<br>
	<div id="photos">
      <% photos.forEach(function(photo) { %>
        <div class="photo">
          <h2><%=photo.name%></h2>
          <a href='/uploads/<%=photo.id%>/download'>
            <img src='/uploads/<%=photo.path%>'/>
          </a>
        </div>
      <% }) %>
    </div>
	<script type="text/javascript">
	(function() {
		$('.nav').on('click', '.presentation', function() {
			$(this).addClass('active').siblings().removeClass('active');
			if($(this).attr('title') == 'singleUpload') {
				$('#uploadSingle').show();
				$('#uploadArray').hide()
			}else {
				$('#uploadSingle').hide();
				$('#uploadArray').show()
			}
		});
	})();
	</script>
<%- include foot %>
